body{
  margin:0;
  background-color: black;/*gray to work, black final*/
  font-family: Helvetica,sans-serif;
  font-size: 22px;
  color: seashell;
  text-align: center;
}

header.flexcon{
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 5;
  min-width: 550px;
  align-items: center;
}

header img{
  height: 50px;
  padding-left: 10px;

}
nav.flexcon{
  flex-grow: 1;
  justify-content: flex-end;
}

a{
  color: seashell;
  padding: 20px 10px;
}

/*working borders
.main div{
  border: 1px solid black;
}*/

/*class to make flex containers*/
.flexcon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main.flexcon{
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
}

#mission, #featureTea, #locations{
  display: flex;
}

#mission{
  padding-top:70px;
  background-image: url('../images/missionBkg.jpg');
  width: 1200px;
  height: 700px;
  align-items: center;
}

#featureTea{
  flex-wrap: wrap;
  height: 700px;
  width: 1000px;
  padding-top: 70px;
  align-content: flex-start;
}

#locations{
  background-image: url('../images/locationsBkg.jpg');
  flex-direction: column;
  width: 1200px;
  height: 500px;
  padding-top: 70px;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: inherit;
  background-color: black;
  justify-content: center;
  align-items:center;
}

h2, h4,h3{
  padding: 10px;
  margin: 0;/*remove annoying margins that appear*/
}

.item{
  width: 320px;
}

.item img{
  display: block;
  height: 200px;
  width: 300px;
  padding: 10px 10px 0px 10px;
}

.location.flexcon{
  background-color: black;
  flex-direction: column;
  opacity: 1;
  width: 300px;
  margin: 5px 20px;
  padding: 10px;
}

.contact{
  height: 200px;
  width: 100%;
}

footer h5{
  padding-left: 20px;
  text-align: left;
}
