body{
  margin:0;
  background-color: gray;/*gray to work, black final*/
  font-family: Helvetica,sans-serif;
  font-size: 22px;
  color: seashell;
  text-align: center;
}

header.flexcon{
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 5;
  min-width: 550px;
  flex-wrap: nowrap;
  align-items: center;
}

header img{
  height: 50px;
  padding-left: 10px;

}
nav.flexcon{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

a{
  color: seashell;
  padding: 20px 10px;
}

/*working borders*/
body div{
  border: 1px solid black;
}

/*class for flex containers*/
.flexcon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main{
  padding-top:70px;
  opacity: 0.9;
}
